@CHARSET "UTF-8";


body, html{
	margin : 0;
	padding : 0;
	width : 100%;
	height : 100%;
}

#contents{
	padding-top : 70px;
	margin-top : 50px;
	margin : 0 auto;
	width : 100%;
	height : auto;
	padding-bottm : 10px;
	margin-bottm : 100px;
}

.success{
	border : 1px solid;
	margin : 10px 0px;
	padding : 15px 10px 15px 10px;
	background-repeat : no-repeat;
	background-position : 10px center;
	font-size : 0.8em;
	margin: 0 auto;
	width : 84%;
	color : #4F8A10;
	background-color : #DFF28F;
}
